# Data wrangling

## Data

In [1]:
# for colab
#from google.colab import drive
#import pandas as pd
#import numpy as np
#import os

# Mount your Google Drive
#drive.mount('/content/drive')
#file_path = '/content/drive/My Drive/Colab Notebooks/Dissertation/RTG_DEFAULT_CONF_F_E.csv'

# Read the CSV file into a DataFrame
#data = pd.read_csv(file_path,sep = ';')
#data['DEFAULT_FLG'] = data['DEFAULT_FLG'].fillna(0)
#data.head()

In [2]:
# for mac
import pandas as pd
import numpy as np
import os

# Get the current working directory
current_directory = os.getcwd()

# Load data
data = pd.read_csv('RTG_DEFAULT_CONF_F_E.csv',sep = ';')
data = data.drop(columns=['REFERENCE_DT'])

/var/folders/wq/tcn7dy5j2fs4tkgt0ld5k9gr0000gn/T/ipykernel_69359/2754339764.py:10: DtypeWarning: Columns (11,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('RTG_DEFAULT_CONF_F_E.csv',sep = ';')

In [3]:
indicators = ['FLAG_STARTUP', 'FLAG_ESFL', 'FLAG_SGPS',
                  'INDICADOR_CRED_VENC_BANCA_12M', 'INDICADOR_CRED_VENC_GCA_12M',
                  'FLAG_DESCOBERTOS_N_AUT_12M', 'X_UTR_CD_12M', 'DEFAULT_FLG']

data[indicators] = data[indicators].fillna(0)

In [4]:
pd.set_option('display.max_columns', None)
data

,LOAD_DTTM,ECONOMIC_GROUP_ID,SECTION_ECONOMIC_ACTIVITY_CD,FLAG_STARTUP,FLAG_ESFL,FLAG_SGPS,FLAG_IMPARIDADE,ASSET_AMT,TURNOVER_AMT,ON_BALANCE_AMT,PIB_VAR,AUTONOMIA_FINAN_CORRIGIDA_PCT,RESULTADO_OPER_VS_JUROS_SUPOR,AVG_CRED_VENC_VS_RESP_CGA_12M,AVG_CRED_VENC_VS_RESP_BANCA_12M,INDICADOR_CRED_VENC_BANCA_12M,INDICADOR_CRED_VENC_GCA_12M,FLAG_DESCOBERTOS_N_AUT_12M,TOTAL_FINAN_OBT_VS_TOTAL_PASSIVO,RESPONS_BANCA_VS_RENDIMENTO,X_UTR_CD_12M,JUROS_GASTOS_SUPORTADOS_VS_ATIVO,MEIOS_FINAN_PASSIVO_CORRENTE,RESUL_ANTES_IMP_VS_RESP_BANCA,PRAZO_MEDIO_RECEBIMENTO,RESPONS_GCA_VS_RENDIMENTO,NET_DEBT_EBITDA,MARGEM_EXPLO_JUROS_SUPORT,VOLUME_NEG_VS_ACT_CORR,RESPONS_BANCA_VS_EBITDA,PD_EST,PD_CALIBRADA_EST,PD_AJUST_EST,CLASSIFICATION_Q,PD_AJUST_QL,SCORE_QL,SCORE_EST,SCORE_AJUST_QL,SCORE_AJUST_EST,SCORE_FINAL,PD_CALIBRADA_FINAL,MEDIA_GER,MEDIA_NOTA_SEGM,PD_FINAL,RATING_ESTATISTICO,RATING_ESTATISTICO_STANDARD,FINAL_RATING_INICIAL,RATING_FILTROS,RATING_EST_FILTROS,FINAL_RATING,FINAL_RATING_EST,FINAL_RATING_NO_DEFAULT,FINAL_RATING_STANDARD,FINAL_RATING_EST_STANDARD,FINAL_RATING_NO_DEFAULT_STANDARD,UNEMPLOYMENT_RT,DEFAULT_FLG,IDENTIFIER,EXPOSURE
0,2018-10-31,NaN,F,0.0,0.0,0.0,1,"2,852,385.30","12,892.50",NaN,0.028,0.98,NaN,NaN,NaN,0.0,0.0,0,0.00,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.031144,0.019403,0.015922,NaN,NaN,NaN,3.43748,NaN,4.123979,3.43748,0.019403,NaN,0.032999,0.019403,7,4.0,7,NaN,NaN,7,NaN,NaN,4.0,NaN,NaN,NaN,0.0,97,NaN
1,2018-10-31,NaN,NaN,0.0,0.0,0.0,1,"1,694,225.59","2,408,469.49",NaN,0.028,0.46,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.01,0.99,NaN,88.20,NaN,2.21,NaN,NaN,NaN,0.004476,0.002566,0.002364,NaN,NaN,NaN,5.40455,NaN,6.044874,5.40455,0.002566,NaN,0.018034,0.002566,1,1.0,1,NaN,NaN,1,NaN,NaN,1.0,NaN,NaN,NaN,0.0,100,NaN
2,2018-10-31,NaN,C,0.0,0.0,0.0,1,"8,783,509.12","8,959,660.25",0.00,0.028,0.87,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,1.69,NaN,59.23,NaN,-0.32,NaN,NaN,NaN,0.004476,0.002566,0.002364,NaN,NaN,NaN,5.40455,NaN,6.044874,5.40455,0.002566,NaN,0.018034,0.002566,1,1.0,1,NaN,NaN,1,NaN,NaN,1.0,NaN,NaN,NaN,0.0,103,NaN
3,2018-10-31,NaN,NaN,0.0,0.0,0.0,1,"4,279,276.96","21,150.00",NaN,0.028,0.63,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,0.19,NaN,"10,394.86",NaN,-4.28,NaN,NaN,NaN,0.007665,0.004271,0.004055,NaN,NaN,NaN,4.86335,NaN,5.503674,4.86335,0.004271,NaN,0.018034,0.004271,3,2.0,3,NaN,NaN,3,NaN,NaN,2.0,NaN,NaN,NaN,0.0,107,NaN
4,2018-10-31,NaN,NaN,0.0,0.0,0.0,1,"3,715,978.26","2,121,562.02",NaN,0.028,0.87,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,5.18,NaN,141.00,NaN,-5.47,NaN,NaN,NaN,0.006843,0.003835,0.003619,NaN,NaN,NaN,4.97765,NaN,5.617974,4.97765,0.003835,NaN,0.018034,0.003835,2,1.5,2,NaN,NaN,2,NaN,NaN,1.5,NaN,NaN,NaN,0.0,109,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1509854,2023-10-31,NaN,NaN,0.0,0.0,0.0,0,"414,066.40","3,051,897.42",NaN,NaN,0.74,NaN,NaN,NaN,0.0,0.0,0,0.01,NaN,0.0,0.00,4.56,NaN,0.01,NaN,-1.07,NaN,7.42,NaN,0.024552,0.006508,0.004838,NaN,NaN,NaN,3.68209,NaN,5.326361,3.68209,0.006508,NaN,0.014739,0.006508,3,2.0,3,3.0,3.0,3,3.0,3.0,2.0,2.0,2.0,6.03,0.0,46180,NaN
1509855,2023-10-31,NaN,NaN,0.0,0.0,0.0,0,"3,293,906.98","1,596,783.44",NaN,NaN,0.06,NaN,NaN,NaN,0.0,0.0,0,0.42,NaN,0.0,0.00,0.47,NaN,77.36,NaN,-0.39,NaN,0.5,NaN,0.030564,0.008039,0.006053,NaN,NaN,NaN,3.45688,NaN,5.101151,3.45688,0.008039,NaN,0.014739,0.008039,4,2.5,4,4.0,4.0,4,4.0,4.0,2.5,2.5,2.5,6.03,0.0,46181,NaN
1509856,2023-10-31,NaN,NaN,0.0,0.0,0.0,0,"3,002,817.07","3,380,168.66",NaN,NaN,0.02,11.09,NaN,NaN,0.0,0.0,0,0.00,NaN,0.0,0.00,0.00,NaN,323.18,NaN,0.00,102.77,1.13,NaN,0.050246,0.013041,0.010115,NaN,NaN,NaN,2.93927,NaN,4.583541,2.93927,0.013041,NaN,0.014739,0.013041,6,3.5,6,6.0,6.0,6,6.0,6.0,3.5,3.5,3.5,6.03,0.0,46182,NaN
1509857,2023-10-31,NaN,NaN,0.0,0.0,0.0,0,"8,172,495.97","1,939,845.61",NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0,0.00,NaN,0.0,0.00,0.00,NaN,"1,531.86",NaN,0.00,NaN,0.24,NaN,0.050246,0.013041,0.010115,NaN,NaN,NaN,2.93927,NaN,4.583541,2.93927,0.013041,NaN,0.014739,0.013041,6,3.5,6,6.0,6.0,6,6.0,6.0,3.5,3.5,3.5,6.03,0.0,46183,NaN
1509858,2023-10-31,NaN,NaN,0.0,0.0,0.0,0,"2,017,298.48",0.00,NaN,NaN,0.99,NaN,NaN,NaN,0.0,0.0,0,0.00,NaN,0.0,0.00,0.00,NaN,NaN,NaN,0.00,NaN,0.0,NaN,0.040525,0.010569,0.008092,NaN,NaN,NaN,3.16448,NaN,4.808751,3.16448,0.010569,NaN,0.014739,0.010569,5,3.0,5,6.0,6.0,6,6.0,6.0,3.5,3.5,3.5,6.03,0.0,46184,NaN

In [5]:
data['FINAL_RATING_STANDARD'] = data['FINAL_RATING_STANDARD'].replace(0, 9)

## Data Preparation

### Selecting the columns

In [6]:
definitive_drop = ['ECONOMIC_GROUP_ID', 'FLAG_IMPARIDADE', 'MEDIA_GER', 'PIB_VAR', 'MEDIA_NOTA_SEGM']
data = data.drop(columns= definitive_drop)

Now, we create another dataset $data_p$ which won't contain any outcome variable from the other column

In [7]:
# Select columns to drop from the model training process 
columns_to_drop = [
    'PD_EST',
    'PD_CALIBRADA_EST',
    'PD_AJUST_EST',
    'PD_AJUST_QL',
    'SCORE_QL',
    'SCORE_EST',
    'SCORE_AJUST_QL',
    'SCORE_AJUST_EST',
    'SCORE_FINAL',
    'PD_CALIBRADA_FINAL',
    'PD_FINAL',
    'RATING_ESTATISTICO',
    'RATING_ESTATISTICO_STANDARD',
    'FINAL_RATING_INICIAL',
    'RATING_FILTROS',
    'RATING_EST_FILTROS',
    'FINAL_RATING',
    'FINAL_RATING_EST',
    'FINAL_RATING_NO_DEFAULT',
    'FINAL_RATING_EST_STANDARD',
    'FINAL_RATING_NO_DEFAULT_STANDARD']


# Drop selected columns from the DataFrame
data_p = data.drop(columns=columns_to_drop)

# Convert the 'LOAD_DTTM' column to a date
data_p['LOAD_DTTM'] = pd.to_datetime(data_p['LOAD_DTTM'])

In [8]:
data_p.head()

,LOAD_DTTM,SECTION_ECONOMIC_ACTIVITY_CD,FLAG_STARTUP,FLAG_ESFL,FLAG_SGPS,ASSET_AMT,TURNOVER_AMT,ON_BALANCE_AMT,AUTONOMIA_FINAN_CORRIGIDA_PCT,RESULTADO_OPER_VS_JUROS_SUPOR,AVG_CRED_VENC_VS_RESP_CGA_12M,AVG_CRED_VENC_VS_RESP_BANCA_12M,INDICADOR_CRED_VENC_BANCA_12M,INDICADOR_CRED_VENC_GCA_12M,FLAG_DESCOBERTOS_N_AUT_12M,TOTAL_FINAN_OBT_VS_TOTAL_PASSIVO,RESPONS_BANCA_VS_RENDIMENTO,X_UTR_CD_12M,JUROS_GASTOS_SUPORTADOS_VS_ATIVO,MEIOS_FINAN_PASSIVO_CORRENTE,RESUL_ANTES_IMP_VS_RESP_BANCA,PRAZO_MEDIO_RECEBIMENTO,RESPONS_GCA_VS_RENDIMENTO,NET_DEBT_EBITDA,MARGEM_EXPLO_JUROS_SUPORT,VOLUME_NEG_VS_ACT_CORR,RESPONS_BANCA_VS_EBITDA,CLASSIFICATION_Q,FINAL_RATING_STANDARD,UNEMPLOYMENT_RT,DEFAULT_FLG,IDENTIFIER,EXPOSURE
0,2018-10-31,F,0.0,0.0,0.0,"2,852,385.30","12,892.50",NaN,0.98,NaN,NaN,NaN,0.0,0.0,0,0.0,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,0.0,97,NaN
1,2018-10-31,NaN,0.0,0.0,0.0,"1,694,225.59","2,408,469.49",NaN,0.46,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.01,0.99,NaN,88.20,NaN,2.21,NaN,NaN,NaN,NaN,1.0,NaN,0.0,100,NaN
2,2018-10-31,C,0.0,0.0,0.0,"8,783,509.12","8,959,660.25",0.00,0.87,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,1.69,NaN,59.23,NaN,-0.32,NaN,NaN,NaN,NaN,1.0,NaN,0.0,103,NaN
3,2018-10-31,NaN,0.0,0.0,0.0,"4,279,276.96","21,150.00",NaN,0.63,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,0.19,NaN,"10,394.86",NaN,-4.28,NaN,NaN,NaN,NaN,2.0,NaN,0.0,107,NaN
4,2018-10-31,NaN,0.0,0.0,0.0,"3,715,978.26","2,121,562.02",NaN,0.87,NaN,NaN,NaN,0.0,0.0,0,NaN,NaN,0.0,0.00,5.18,NaN,141.00,NaN,-5.47,NaN,NaN,NaN,NaN,1.5,NaN,0.0,109,NaN

## Filtering

In [9]:
# Filter rows where 'LOAD_DTTM' is not equal to '2019-07-24' because this was an system error
data_p = data_p[data_p['LOAD_DTTM'] != '2019-07-24']

### Dealing with the NaN's
The maximum proportion of NaN's per row

In [10]:
threshold_proportion = 0.7  # For example, 30%

# Calculate the minimum number of non-NaN values required based on the proportion
threshold = int((1 - threshold_proportion) * len(data_p.columns))

# Exclude rows with a proportion of NaN values greater than the threshold
data_p = data_p.dropna(thresh=threshold)

num_rows_meeting_threshold = len(data_p.dropna(thresh=threshold))

print("Number of rows meeting the threshold:", num_rows_meeting_threshold)

Number of rows meeting the threshold: 1497549

### Removing the duplicates
We start by removing the duplicated rows

In [11]:
# Count the number of duplicate rows
num_duplicates = data_p.duplicated(keep='first').sum()
print("Number of Duplicate Rows:", num_duplicates)

Number of Duplicate Rows: 5405

In [12]:
data_p = data_p.drop_duplicates()

We encounter situations where the same 'IDENTIFIER' is associated twice with the same 'LOAD_DTTM,' and the corresponding rows are not identical due to variations in the 'SECTION_ECONOMIC_ACTIVITY_CD.' In such cases, we remove rows with 'NAN' values in the 'SECTION_ECONOMIC_ACTIVITY_CD'.

In [13]:
# Defining a custom filter function
def custom_filter(group):
    if len(group) == 1:
        return group
    else:
        if len(group['CLASSIFICATION_Q'].unique()) > 1:
            if len(group.dropna(subset=['CLASSIFICATION_Q'])) == 1:
                return group.dropna(subset=['CLASSIFICATION_Q'])
            else:       #len(group.dropna(subset=['CLASSIFICATION_Q'])) > 1
                min_value = group['CLASSIFICATION_Q'].min()
                min_rows = group[group['CLASSIFICATION_Q'] == min_value]
        elif len(group['ON_BALANCE_AMT'].unique()) > 1:
            return group.dropna(subset=['ON_BALANCE_AMT'])
        elif len(group['SECTION_ECONOMIC_ACTIVITY_CD'].unique()) > 1:
            return group.dropna(subset=['SECTION_ECONOMIC_ACTIVITY_CD'])


# Apply the custom filter to each group
data_p = data_p.groupby(['IDENTIFIER', 'LOAD_DTTM']).apply(custom_filter).reset_index(drop=True)
data_p = data_p.drop('ON_BALANCE_AMT', axis = 1)
# Check for duplicated rows
len(data_p[data_p.duplicated(subset=['IDENTIFIER', 'LOAD_DTTM'])])
# data_p = data_p.drop_duplicates()

0

### Filter for SME's with less than 12 months of observations

In [14]:
# Calculate the number of months of observations per 'IDENTIFIER'
temp = data_p.groupby('IDENTIFIER')['LOAD_DTTM'].count().reset_index()
temp.columns = ['IDENTIFIER', 'n_months_obs']

# Left join 'n_months_obs' back to the DataFrame
data_p = data_p.merge(temp, on='IDENTIFIER', how='left')

# Calculate the maximum 'DEFAULT_FLG' per 'IDENTIFIER'
temp = data_p.groupby('IDENTIFIER')['DEFAULT_FLG'].max().reset_index()
temp.columns = ['IDENTIFIER', 'ever_default']

# Left join 'ever_default' back to the DataFrame
data_p = data_p.merge(temp, on='IDENTIFIER', how='left')

# Filter rows where 'n_months_obs' is greater than or equal to 12
data_p = data_p[data_p['n_months_obs'] >= 12]

# Drop the 'n_months_obs' column
data_p = data_p.drop(columns=['n_months_obs'])

### Creating the $Target$ variable

In [15]:
import pandas as pd

data_p['LOAD_DTTM'] = pd.to_datetime(data_p['LOAD_DTTM'])
data_p = data_p.sort_values(by=['IDENTIFIER', 'LOAD_DTTM'])
# Initialize an empty list to store the TARGET values
target_values = []
# Iterate over rows
for index, row in data_p.iterrows():
    identifier = row['IDENTIFIER']
    load_dttm = row['LOAD_DTTM']
    default_flg = row['DEFAULT_FLG']
    # Filter rows within the next 12 months for the same identifier
    next_12_months = data_p[(data_p['IDENTIFIER'] == identifier) & (data_p['LOAD_DTTM'] > load_dttm) 
                            & (data_p['LOAD_DTTM'] <= load_dttm + pd.DateOffset(months=12))]
    # Check if there is any row with DEFAULT_FLG being 1 within the next 12 months
    target = int((next_12_months['DEFAULT_FLG'] == 1).any())
    # Append the result to the list
    target_values.append(target)
# Add the 'TARGET' column to the DataFrame
data_p['TARGET'] = target_values
# Reset the index
data_p = data_p.reset_index(drop=True)

### Saving Data_p

In [18]:
len(data_p)

1390492

In [19]:
data_p.to_csv('data_p.csv', index=False)
#import pandas as pd
#data_p = pd.read_csv('data_p.csv')
#len(data_p)